{% load humanize emissions_explorer pesticides_explorer %}
<div class="table-container">
<table class="table is-fullwidth is-narrow sector-table">
    <thead>
        {% with heading=pollutant.label|add:" ("|add:pollutant.unit|add:"/yr)" %}
        <tr>{% if sortable %}<th>{% sort_link 'name' 'Sector' %}</th><th class="has-text-right">{% sort_link 'facilities' 'Facilities' %}</th><th class="has-text-right">{% sort_link 'value' heading %}</th><th>{% sort_link 'share' 'Share' %}</th>{% else %}<th>Sector</th><th class="has-text-right">Facilities</th><th class="has-text-right">{{ heading }}</th><th>Share</th>{% endif %}{% if show_trend %}<th>Trend</th>{% endif %}</tr>
        {% endwith %}
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td><a href="{% url 'emissions:sector-detail' row.sector %}{{ scope_qs }}">{{ row.label }}</a>{% if show_description %}<br><span class="is-size-7 has-text-grey">{% sector_description row.sector %}</span>{% endif %}</td>
            <td class="has-text-right">{{ row.facilities|intcomma }}</td>
            <td class="has-text-right">{{ row.value|amount:pollutant }}</td>
            <td><div class="share-bar" title="{{ row.share|percent }}"><span style="width: {{ row.share|width_pct }}"></span></div>{{ row.share|percent }}</td>
            {% if show_trend %}<td>{% sparkline row.trend %}</td>{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
