{% extends "page.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block page-header-class %}{% endblock %}
{% block page-header-title %}{{ title }}{% endblock %}

{% block content %}
<section class="section hook">
    <div class="container">
        <div class="content">
            <h1 class="title">{{ view.title }}</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content">
            <p class="lead">Your new password has been set!</p>
            <p><a href="{{ login_url }}">Click here to log in.</a></p>
        </div>
    </div>
</section>
{% endblock %}
