{% extends "page.html" %}
{% load i18n %}

{% block title %}{{ view.title }} | {{ block.super }}{% endblock %}

{% block page-header-class %}{% endblock %}
{% block page-header-title %}{{ view.title }}{% endblock %}

{% block content %}
<section class="section hook">
    <div class="container">
        <div class="content">
            <h1 class="title">{{ view.title }}</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop content">
                <div class="box">
                    <p class="big">Forget your password? Enter your email address below, and we'll send instructions for setting a new one.</p>
                    <form action="{% url 'account:password-reset' %}" method="post" class="form">
                        {% include '_includes/form/form.html' with form=form %}
                        <button type="submit" class="button is-success">Reset my password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
