{% extends "page.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block page-header-class %}{% endblock %}
{% block page-header-title %}{{ title }}{% endblock %}

{% block content %}
<section class="section hook">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop content">
                <p class="big">Your new password has been set!</p>
                <p class="big"><a href="{{ login_url }}">You may now log in.</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
