{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{{ view.title }} | {{ block.super }}{% endblock %}

{% block page-title %}{{ view.title }}{% endblock %}

{% block account-tab-password %}is-active{% endblock %}

{% block inner-content %}
<div class="content">
    <form action="{% url 'account:password-change' %}" method="post" class="password-change-form form">
        <div class="box">
            <p>Please enter your old password, for security's sake, and then enter your
                new password twice so we can verify you typed it in correctly.</p>
            {% include '_includes/form/form.html' with form=form %}
        </div>
        <button type="submit" class="button is-success is-medium">Change my password</button></p>
    </form>
</div>
{% endblock %}
