{% extends "page.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block page-header-class %}{% endblock %}
{% block page-header-title %}{{ title }}{% endblock %}

{% block content %}
<section class="section hook">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop content">
                <p class="big">We've sent you an email with instructions for setting your password, if an account exists with the email address you entered. You should receive it shortly.</p>

                <p class="big">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
