{% extends "page.html" %}

{% block title %}Verify and confirm your password | {{ block.super }}{% endblock %}

{% block page-header-class %}{% endblock %}
{% block page-header-title %}Verify and confirm your password{% endblock %}

{% block content %}
<section class="section hook">
    <div class="container">
        <div class="content">
            <h1 class="title">Verify and confirm your password</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <p class="big">Please enter your new password twice so we can verify you typed it in correctly.</p>
                        <form action="{{ request.path }}" method="post" class="form">
                            {% csrf_token %}
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}

                            {% include '_includes/form/field.html' with field=form.code icon_left="far fa-hashtag" %}
                            {% include '_includes/form/field.html' with field=form.new_password1 icon_left="far fa-lock" %}
                            {% include '_includes/form/field.html' with field=form.new_password2 icon_left="far fa-lock" %}
                            <button type="submit" class="button is-success">Change my password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
