{% extends "page.html" %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block page-header-class %}{% endblock %}
{% block page-header-title %}{{ view.title }}{% endblock %}

{% block content %}
<section class="section hook">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop content">
            {% if validlink %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <p class="big">Please enter your new password twice so we can verify you typed it in correctly.</p>
                        <form action="{{ request.path }}" method="post" class="form">
                            {% include '_includes/form/form.html' with form=form %}
                            <button type="submit" class="button is-success">Change my password</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <p class="big">The password reset link was invalid, possibly because it has already been used.</p>
                <p class="big"><a href="{% url 'account:password-reset' %}">Please request a new password reset.</a></p>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
