ALLOWED_HOSTS=localhost,.ngrok.io
DATABASE_URL=postgres://vagrant:vagrant@localhost:5432/vagrant_dev
DJANGO_DEBUG=1
DJANGO_SETTINGS_MODULE=camp.settings.vagrant
HUEY_IMMEDIATE=0
REDIS_URL=redis://127.0.0.1:6379
SECRET_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_ANALYTICS_ID=
HUEY_WORKERS=80
MAX_QUEUE_SIZE=300
