{% extends 'admin/index.html' %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .admin-advanced {
            display: none;
        }

        .admin-toggle {
            margin: -20px 0 15px 0;
            text-align: right;
        }

        .admin-simple .module table {
            width: 100%;
        }

        .admin-simple .module table td {
            white-space: normal;
        }

        .admin-simple .module table td.links {
            text-align: right;
        }
    </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript">
    (function($){
        let roundOOM = (n) => {
            let oom = "1" + Array(n.toString().length - 2).join("0");
            return Math.round(n / oom) * oom;
        }

        let fetchStats = () => {
            $.getJSON('{% url "admin-stats" %}', (data) => {
                $('#id_timestamp').text(
                    new Date(Date.parse(data.timestamp))
                        .toLocaleString('en-us', {timezone: 'America/Los_Angeles'}));
                $('#id_entry-count').text(roundOOM(data.entry_count).toLocaleString());

                for (const key in data.queue_size) {
                    console.log(`.queue-${key} .size`);
                    console.log(data.queue_size[key].toLocaleString());
                    $(`.queue-${key} .size`).text(data.queue_size[key].toLocaleString());
                }
            });
        };

        fetchStats();
        setInterval(fetchStats, 15 * 1000);
    })(jQuery);

    // Menu toggle.
    (function($){
        $(document).ready(function(){
            $('.admin-toggle a').on('click', function(e){
                e.preventDefault();

                var $this = $(this),
                    $tabs = $('.admin-tab'),
                    $active = $tabs.filter($this.attr('data-tab'));

                $tabs.css('display', 'none');
                $active.css('display', 'block');
            });
        });
    })(jQuery);
</script>
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="admin-toggle">
        <a href="#" data-tab=".admin-simple">[ Simple ]</a>
        <a href="#" data-tab=".admin-advanced">[ Advanced ]</a>
    </div>

    <div class="admin-tab admin-simple">
        {% include "admin/menu.html" %}
    </div>

    <div class="admin-tab admin-advanced">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="internal-links-module">
        <h2>{% trans 'Server Stats' %}</h2>
        <table>
            <tr>
                <th>Timestamp</th>
                <td><span id="id_timestamp"></span></td>
            </tr>
            <tr>
                <th>Monitor Entries</th>
                <td>≈<span id="id_entry-count"></span></td>
            </tr>
            {% for key in settings.DJANGO_HUEY.queues.keys %}
            <tr class="queue queue-{{ key }}">
                <th>Queue: {{ key }}</th>
                <td>
                    <div class="size"></div>
                    <form action="{% url 'flush-queue' key=key %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Flush queue</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h2>Quick Links</h2>
        <ul class="">
            <li><a href="{% url 'admin:alerts_subscription_county_stats' %}">Subscription Stats by County</a></li>
        </ul>
    </div>
    <div class="module" id="recent-actions-module">
        <h2>{% translate 'Recent actions' %}</h2>
        <h3>{% translate 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% translate 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% translate 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
