<div class="module">
    <table>
        <caption>User Management</caption>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:accounts_user_changelist' %}">User Accounts</a></h3>
                <p>Usernames, email addresses, and passwords</p>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>Air Quality</caption>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:calibrations_calibrator_changelist' %}">Calibrations</a></h3>
                <p>Reference and colocated monitors.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:alerts_alert_changelist' %}">Alerts</a></h3>
                <p>Tracking when the air is bad.</p>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>Air Monitors</caption>
        <tr>
            <td>
                <h3><a href="{% url 'admin:airnow_airnow_changelist' %}">AirNow</a></h3>
                <p>Regulatory monitors, operated by the EPA.</p>
            </td>
            <td class="links">
                <p><a href="https://www.airnow.gov/" target="_blank">🔗 AirNow.gov</a></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:bam_bam1022_changelist' %}">BAM1022</a></h3>
                <p>Our very own network of high-end monitors.</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="{% url 'admin:purpleair_purpleair_changelist' %}">Purple Air</a></h3>
                <p>Low-cost monitors.</p>
            </td>
            <td class="links">
                <p><a href="https://map.purpleair.com/" target="_blank">🔗 PurpleAir Real-Time Map</a></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:methane_methane_changelist' %}">Methane</a></h3>
                <p>Just an experiment.</p>
            </td>
        </tr>
    </table>
</div>
