<div class="module">
    <table>
        <caption>Platform</caption>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:accounts_user_changelist' %}">User Accounts</a></h3>
                <p>Usernames, email addresses, and passwords</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:regions_region_changelist' %}">Regions</a></h3>
                <p>Cities, counties, land use, and more.</p>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>Air Monitors</caption>
        <tr>
            <td>
                <h3><a href="{% url 'admin:airnow_airnow_changelist' %}">AirNow</a></h3>
                <p>Regulatory monitors, operated by the EPA.</p>
            </td>
            <td class="links">
                <p><a href="https://www.airnow.gov/" target="_blank">🔗 AirNow.gov</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="{% url 'admin:airgradient_airgradient_changelist' %}">AirGradient</a></h3>
                <p>Low-cost PM2.5 monitors.</p>
            </td>
            <td class="links">
                <p><a href="https://www.airgradient.com/map/" target="_blank">📍 AirGradient Map</a></p>
                <p><a href="{% url 'admin:airgradient_place_changelist' %}">🔑 Places (API Config)</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="{% url 'admin:aqview_aqview_changelist' %}">AQview</a></h3>
                <p>AB617 monitors, operated by the CARB.</p>
            </td>
            <td class="links">
                <p><a href="https://aqview.arb.ca.gov/map" target="_blank">📍 AQview Map</a></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:bam_bam1022_changelist' %}">BAM1022</a></h3>
                <p>Our very own network of high-end monitors.</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="{% url 'admin:purpleair_purpleair_changelist' %}">PurpleAir</a></h3>
                <p>Low-cost PM2.5 monitors.</p>
            </td>
            <td class="links">
                <p><a href="https://map.purpleair.com/" target="_blank">📍 PurpleAir Map</a></p>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>Air Quality</caption>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:calibrations_calibrationpair_changelist' %}">Calibration Pairs</a></h3>
                <p>Reference and colocated monitors.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:calibrations_defaultcalibration_changelist' %}">Default Calibrations</a></h3>
                <p>Set the default display calibration by monitor and entry type.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3><a href="{% url 'admin:alerts_alert_changelist' %}">Alerts</a></h3>
                <p>Tracking when the air is bad.</p>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>Wildfire &amp; Smoke</caption>
        <tr>
            <td>
                <h3><a href="{% url 'admin:hms_fire_changelist' %}">Fire Pixels</a></h3>
                <p>NOAA Hazard Mapping System</p>
            </td>
            <td class="links">
                <p><a href="https://www.ospo.noaa.gov/products/land/hms.html#maps" target="_blank">📍 HMS Smoke Map</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="{% url 'admin:hms_smoke_changelist' %}">Smoke Plumes</a></h3>
                <p>NOAA Hazard Mapping System</p>
            </td>
            <td class="links">
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>Data Integrations</caption>
        <tr>
            <td>
                <h3><a href="{% url 'admin:ceidars_facility_changelist'%}">CEIDARS</a></h3>
                <p>California Emissions Inventory Data and Reporting System.</p>
            </td>
            <td class="links">
                <p><a href='https://ww2.arb.ca.gov/ceidars'>🔗 CEIDARS Website</a></p>
            </td>
        </tr>
    </table>
</div>

<div class="module">
    <table>
        <caption>Help Center</caption>
        <tr>
            <td>
                <h3><a href="{% url 'admin:helpdesk_category_changelist' %}">Categories</a></h3>
                <p>How articles are organized.</p>
            </td>
            <td class="links">
                <p><a href="{% url 'helpdesk:home' %}" target="_blank">View on Site ↗</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="{% url 'admin:helpdesk_article_changelist' %}">Articles</a></h3>
                <p>Main content for the Help Desk.</p>
            </td>
            <td class="links">
                <p><a href="{% url 'helpdesk:home' %}" target="_blank">View on Site ↗</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="{% url 'admin:helpdesk_term_changelist' %}">Glossary</a></h3>
                <p>A list of terms and their definitions.</p>
            </td>
            <td class="links">
                <p><a href="{% url 'helpdesk:glossary' %}" target="_blank">View on Site ↗</a></p>
            </td>
        </tr>
    </table>
</div>

