@at-root :root
    --column-gap: $column-gap
    --gap: $gap
    --grey-light: $grey-light
    --size-5: $size-5
    --navbar-height: $navbar-height

img, .image > img
    &.is-responsive
        display: inline-block
        width: 100%

form.form
    .control
        .error
            @extend .has-background-warning-light
            @extend .has-text-danger-dark
            @extend .has-text-weight-semibold

ul
    &.is-inline
        list-style: none
        margin: 0 0 0 -.25rem !important
        padding: 0 !important

        > li
            display: inline-block
            margin: 0
            padding: 0 .25rem

    &.is-unstyled
        list-style: none !important
        margin-left: 0 !important

@include tablet
    .columns
        &.is-reversed
            display: flex
            flex-direction: row-reverse

.lead
    @extend .is-size-4

.navbar
    border-bottom: $grey-lighter 1px solid

    .icon
        @extend .has-text-grey

section.hook
    background-color: $info
    background-image: linear-gradient(45deg, hsl(207, 54%, 35%) 0%, hsl(207, 47%, 39%) 21%, hsl(207, 42%, 43%) 30%, hsl(207, 39%, 46%) 39%, hsl(207, 37%, 49%) 46%, hsl(207, 38%, 52%) 54%, hsl(207, 40%, 55%) 61%, hsl(207, 43%, 57%) 69%, hsl(207, 46%, 60%) 79%, hsl(207, 49%, 62%) 100%)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    color: $white

    h1, h2, h3, h4, h5, h6, p
        color: $white

        &:last-child
            margin-bottom: 0

    a
        @extend .has-text-weight-semibold

        &:not(.button)
            color: $white
            text-decoration: underline


// Google Translate widget fixes
.goog-te-banner-frame
    display: none !important

body
    background-color: $white-bis
    top: 0 !important

.tag
    &.air
        font-weight: bold
        height: auto
        min-height: 2em
        white-space: normal

        &.good
            background-color: $air-green
        &.moderate
            background-color: $air-yellow
        &.unhealthy_sensitive
            background-color: $air-orange
            color: $white
        &.unhealthy
            background-color: $air-red
            color: $white
        &.very_unhealthy
            background-color: $air-purple
            color: $white
        &.hazardous
            background-color: $air-maroon
            color: $white

footer.footer
    background-color: #1c4482
    color: $white-ter
    padding: 6rem 1.5rem
    position: relative

    &:before
        content: ' '
        display: block
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.42
        background-image: url('../img/air-curve.png')
        background-repeat: no-repeat
        background-position: 50% 0
        background-size: cover

    .columns
        @extend .my-0

        .column
            @extend .py-0
            @extend .pb-4

    .logo
        @extend .mb-4

        img
            height: auto
            max-width: 12rem

    .description
        @extend .has-text-white
        @extend .is-size-7

    .nav
        h4
            @extend .has-text-white
            @extend .has-text-weight-bold
            @extend .is-size-5
            @extend .mb-2

        ul
            @extend .mb-5

            &.fa-ul
                margin-left: 1.5em

            &:last-child
                @extend .mb-0

        a
            @extend .has-text-grey-lighter
            @extend .has-text-weight-medium

            &:hover
                color: $white !important
                text-decoration: underline

        span[class*="fa-"]
            @extend .has-text-grey-light
