// $green: #95bd50
// $yellow: #ffc31a
// $orange: #e66925
// $red: #bf1e2e
// $purple: #804098

$air-green: #78FA4C
$air-yellow: #FFFE54
$air-orange: #D4712B
$air-red: #C3281C
$air-purple: #66567E
$air-maroon: #653734

// @import "bulma/sass/utilities/initial-variables"
// @import "bulma/sass/utilities/functions"
// @import "bulma/sass/utilities/derived-variables"
