
// Base colors
$orange: #f39c12
$yellow: #f1c40f
$green: #27ae60
$turquoise: #16a085
$cyan: #1abc9c
$blue: #3498db
$purple: #9b59b6
$red: #d35400

// Air quality colors
// $air-green: #78FA4C
// $air-yellow: #FFFE54
// $air-orange: #D4712B
// $air-red: #C3281C
// $air-purple: #66567E
// $air-maroon: #653734

// Official EPA colors
$air-green: #00e400
$air-yellow: #ffff00
$air-orange: #ff7e00
$air-red: #ff0000
$air-purple: #8f3f97
$air-maroon: #7e0023

// Social media brand colors
$twitter: #1da1f2
$bluesky: #1185fe
$facebook: #4267B2
$instagram: #E1306C
$youtube: #FF0000
$google: #4285F4
$github: #211f1f
$tiktok: #010101

$primary: $blue

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"
@import "bulma/sass/utilities/derived-variables"

$airColors: ("air-green": ($air-green, findColorInvert($air-green)), "air-yellow": ($air-yellow, findColorInvert($air-yellow)), "air-orange": ($air-orange, findColorInvert($air-orange)), "air-red": ($air-red, findColorInvert($air-red)), "air-purple": ($air-purple, findColorInvert($air-purple)), "air-maroon": ($air-maroon, findColorInvert($air-maroon)))
$brandColors: ("twitter": ($twitter, findColorInvert($twitter)), "bluesky": ($bluesky, findColorInvert($bluesky)), "facebook": ($facebook, findColorInvert($facebook)), "instagram": ($instagram, findColorInvert($instagram)), "youtube": ($youtube, findColorInvert($youtube)), "google": ($google, findColorInvert($google)), "github": ($github, findColorInvert($github)), "tiktok": ($tiktok, findColorInvert($tiktok)))
$extraColors: ("orange": ($orange, findColorInvert($orange)), "yellow": ($yellow, findColorInvert($yellow)), "green": ($green, findColorInvert($green)), "turquoise": ($turquoise, findColorInvert($turquoise)), "cyan": ($cyan, findColorInvert($cyan)), "blue": ($blue, findColorInvert($blue)), "purple": ($purple, findColorInvert($purple)), "red": ($red, findColorInvert($red)))

$colors: map-merge($colors, $airColors)
$colors: map-merge($colors, $brandColors)
$colors: map-merge($colors, $extraColors)
