{% extends "account/base.html" %}
{% load tz %}

{% block title %}Current air quality alerts | {{ block.super }}{% endblock %}

{% block account-tab-alerts %}is-active{% endblock %}

{% block inner-content %}
<div class="box">
    <div class="content">
        <table class="table is-fullwidth is-striped">
            <tr>
                <th>Air monitor</th>
                <th>Start time</th>
                <th class="has-text-centered">Current status</th>
            </tr>
            {% for alert in alert_list %}
            <tr>
                <td>
                    <a href="{{ alert.monitor.get_absolute_url }}">{{ alert.monitor.name }}</a><br />
                    <span class="is-size-7">{{ alert.monitor.county }} County</span>
                </td>
                <td>
                    <span>{{ alert.start_time|timezone:"America/Los_Angeles" }}</span><br />
                    <span class="is-size-7">{{ alert.start_time|timesince }} ago</span>
                </td>
                <td class="has-text-centered">
                    <span class="tag air {{ alert.latest.level }}">{{ alert.latest.get_level.label }}</span>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="py-6">
                    <p class="has-text-centered has-text-grey is-size-5">There are no active air quality alerts for air monitors that you have subscribed to.</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
