{% extends "base.html" %}

{% block body-class %}account{% endblock %}

{% block title %}Account | {{ block.super }}{% endblock %}

{% block page-header-content %}
    <h1 class="title">Your Account</h1>
    <p class="subtitle">{{ user.email }}</p>
{% endblock %}

{% block page-header-class %}{% endblock %}

{% block content %}
<section class="section membership-nav">
<!--     <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop"> -->
                <div class="tabs is-large is-centered">
                    <ul>
                        <li class="{% block account-tab-profile %}{% endblock %}">
                            <a href="{% url 'account:profile' %}">
                                <span class="icon is-size-5 has-text-grey">
                                    <span class="far fa-fw fa-user"></span>
                                </span>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="{% block account-tab-alerts %}{% endblock %}">
                            <a href="#">
                                <span class="icon is-size-5 has-text-grey">
                                    <span class="far fa-fw fa-sensor-alert"></span>
                                </span>
                                <span>Configure Alerts</span>
                            </a>
                        </li>
                        <li class="{% block account-tab-password %}{% endblock %}">
                            <a href="{% url 'account:password-change' %}">
                                <span class="icon is-size-5 has-text-grey">
                                    <span class="far fa-fw fa-lock"></span>
                                </span>
                                <span>Change password</span>
                            </a>
                        </li>
                    </ul>
                </div>
<!--             </div>
        </div>
    </div> -->
</section>

<section class="section membership-content">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop">
                {% block inner-content %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
