{% extends "page.html" %}
{% load alerts_tags %}

{% block body-class %}account{% endblock %}

{% block title %}Account | {{ block.super }}{% endblock %}

{% block page-header-class %}{% endblock %}

{% block main %}
<section class="section hook">
    <div class="container">
        <div class="content">
            <h1 class="title">Your Account</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5-tablet is-4-desktop">
                <aside class="menu account-menu">
                    <p class="menu-label">{{ user.email }}</p>
                    <ul class="menu-list">
                        <li>
                            <a href="{% url 'account:profile' %}" class="{% block account-tab-profile %}{% endblock %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <span class="fa-regular fa-fw fa-user"></span>
                                    </span>
                                    <span>Your Profile</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account:alerts' %}" class="{% block account-tab-alerts %}{% endblock %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <span class="fa-regular fa-fw fa-sensor-alert"></span>
                                    </span>
                                    <span>Air Quality Alerts</span>
                                </span>
                                {% get_user_alert_count as alert_count %}
                                {% if alert_count %}<span class="tag is-rounded is-danger">{{ alert_count }}</span>{% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account:subscriptions' %}" class="{% block account-tab-subscriptions %}{% endblock %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <span class="fa-regular fa-fw fa-shield-check"></span>
                                    </span>
                                    <span>Monitor Subscriptions</span>
                                </span>
                                {% get_user_subscription_count as subscription_count %}
                                {% if subscription_count %}<span class="tag is-rounded is-info">{{ subscription_count }}</span>{% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account:password-change' %}" class="{% block account-tab-password %}{% endblock %}">
                                <span class="icon-text">
                                    <span class="icon">
                                        <span class="fa-regular fa-fw fa-lock"></span>
                                    </span>
                                    <span>Change Password</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column is-7-tablet is-8-desktop">
                {% block inner-content %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
