{% extends "account/base.html" %}

{% block title %}Profile information | {{ block.super }}{% endblock %}

{% block account-tab-profile %}is-active{% endblock %}

{% block inner-content %}
    <form class="form" action="{% url 'account:profile' %}" method="post">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <div class="box">
            {% include '_includes/form/field.html' with field=form.full_name icon_left="far fa-user" %}
            {% include '_includes/form/field.html' with field=form.email icon_left="far fa-envelope" %}
        </div>

        <div class="box">
            <div class="notification is-info is-light is-size-7">
                Our space is full of awesome people doing awesome things, and we want to
                help share those things! If you're active on the social media platforms
                we use, drop in your usernames so we can follow you back! <i>(Btw, this
                is totally optional and we will never use this info for any nefarious purposes.)</i>
            </div>
            {% include '_includes/form/field.html' with field=form.twitter icon_left="fab fa-twitter" %}
            {% include '_includes/form/field.html' with field=form.instagram icon_left="fab fa-instagram" %}
            {% include '_includes/form/field.html' with field=form.facebook icon_left="fab fa-facebook" %}
        </div>

        <button type="submit" class="button is-success is-medium">Update profile</button>
    </form>
{% endblock %}
