{% extends "account/base.html" %}
{% load tz %}

{% block title %}Monitor subscriptions | {{ block.super }}{% endblock %}

{% block account-tab-subscriptions %}is-active{% endblock %}

{% block inner-content %}
<div class="content">
    <table class="table is-fullwidth is-striped">
        <tr>
            <th>Air monitor</th>
            <th class="has-text-right">Notify me when the air is...</th>
        </tr>
        {% for subscription in subscription_list %}
        <tr>
            <td>
                <a href="{{ subscription.monitor.get_absolute_url }}">{{ subscription.monitor.name }}</a><br />
                <span class="is-size-7">{{ subscription.monitor.county }} County</span>
            </td>
            <td class="has-text-right">
                <span class="tag air {{ subscription.level }}">{{ subscription.get_level_display }}</span>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="py-6">
                <p class="has-text-centered has-text-grey is-size-5">You have not subscribed to any air monitors.</p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
