{% extends "account/base.html" %}
{% load tz %}

{% block title %}Monitor subscriptions | {{ block.super }}{% endblock %}

{% block account-tab-alerts %}is-active{% endblock %}

{% block inner-content %}
<div class="content">
    <h2>Current Air Quality Alerts</h2>
    <table class="table is-fullwidth is-striped">
        <tr>
            <th>Air monitor</th>
            <th>Start time</th>
            <th>Current status</th>
        </tr>
        {% for alert in alert_list %}
        <tr>
            <td>
                <a href="{{ alert.monitor.get_absolute_url }}">{{ alert.monitor.name }}</a><br />
                <span class="is-size-7">{{ alert.monitor.county }} County</span>
            </td>
            <td>
                <span>{{ alert.start_time|timezone:"America/Los_Angeles" }}</span><br />
                <span class="is-size-7">{{ alert.start_time|timesince }} ago</span>
            </td>
            <td>{{ alert.get_level_display }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr />

    <h2>Your Subscriptions</h2>
    <table class="table is-fullwidth is-striped">
        <tr>
            <th>Air monitor</th>
            <th>Notify me when the air is...</th>
        </tr>
        {% for subscription in subscription_list %}
        <tr>
            <td>
                <a href="{{ subscription.monitor.get_absolute_url }}">{{ subscription.monitor.name }}</a><br />
                <span class="is-size-7">{{ subscription.monitor.county }} County</span>
            </td>
            <td>{{ subscription.get_level_display }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
