{% load pesticides_explorer %}
<table class="table is-fullwidth is-narrow is-striped">
    <thead><tr><th>Year</th><th class="has-text-right">Lbs</th><th class="has-text-right">Acres treated</th><th class="has-text-right">Applications</th></tr></thead>
    <tbody>
    {% for row in by_year %}
        <tr><td>{{ row.year }}</td><td class="has-text-right">{{ row.lbs|lbs }}</td><td class="has-text-right">{{ row.acres|lbs }}</td><td class="has-text-right">{{ row.applications|lbs }}</td></tr>
    {% endfor %}
    </tbody>
</table>
