<form method="GET" class="explorer-filters box">
    {% for param, obj in related.items %}
        <input type="hidden" name="{{ param }}" value="{{ obj.sqid }}">
    {% endfor %}
    <div class="field">
        <label class="label" for="id_q">Search</label>
        <div class="control has-icons-left">
            <input id="id_q" class="input" type="search" name="q" value="{{ form.q.value|default:'' }}" placeholder="Name or ID">
            <span class="icon is-small is-left"><span class="fas fa-search"></span></span>
        </div>
    </div>
    {% for field in form %}
        {% if field.name != 'q' %}
        <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">
                {% if field.field.widget.input_type == 'select' %}
                    <div class="select is-fullwidth">{{ field }}</div>
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <div class="field is-grouped">
        <div class="control"><button class="button is-link" type="submit">Apply</button></div>
        <div class="control"><a class="button is-light" href="{{ request.path }}">Clear</a></div>
    </div>
</form>
