<section class="box find-area" id="find" data-maptiler-key="{{ maptiler_key }}" data-near-url="{% url 'pesticides:near-me' %}" data-year="{{ year }}">
    <h2 class="title is-5">Find your area</h2>
    <div class="field has-addons">
        <div class="control is-expanded has-icons-left">
            <input class="input" type="search" id="find-area-query" placeholder="Address, city, or ZIP in the San Joaquin Valley" autocomplete="off" aria-label="Address, city, or ZIP"{% if focus_find %} autofocus{% endif %}>
            <span class="icon is-left"><span class="fa-regular fa-magnifying-glass"></span></span>
        </div>
        <div class="control"><button type="button" class="button is-primary" id="find-area-locate"><span class="icon"><span class="fa-regular fa-location-crosshairs"></span></span><span>Use my location</span></button></div>
    </div>
    <ul class="find-area-results" id="find-area-results" hidden></ul>
    <p class="help" id="find-area-status"></p>
    <form method="get" action="{% url 'pesticides:home' %}" class="find-area-pickers">
        {% if year %}<input type="hidden" name="year" value="{{ year }}">{% endif %}
        <div class="field is-grouped is-grouped-multiline">
            <div class="control"><div class="select">{{ find_area_form.county }}</div></div>
            {% if find_area_form.fields.city.choices|length > 1 %}<div class="control"><div class="select">{{ find_area_form.city }}</div></div>{% endif %}
            <div class="control"><div class="select">{{ find_area_form.zipcode }}</div></div>
            <div class="control"><button class="button" type="submit">Go</button></div>
        </div>
    </form>
    <p class="is-size-7 has-text-grey">Searching sends your text to MapTiler to find coordinates; the result is only in the link we open. We don't store locations.</p>
</section>
