{% load pesticides_explorer %}
<div class="level stat-row box">
    <div class="level-item has-text-centered">
        <div><p class="heading">Lbs applied{% if year_label %} in {{ year_label }}{% endif %}</p><p class="title">{{ totals.lbs|lbs }}</p></div>
    </div>
    <div class="level-item has-text-centered">
        <div><p class="heading">Applications{% if year_label %} in {{ year_label }}{% endif %}</p><p class="title">{{ totals.applications|lbs }}</p></div>
    </div>
    <div class="level-item has-text-centered">
        <div><p class="heading">Counties</p><p class="title">{{ totals.counties }} <span class="is-size-5 has-text-grey">of {{ county_total }}</span></p></div>
    </div>
</div>
