{% load pesticides_explorer %}
<div class="level stat-row box">
    <div class="level-item has-text-centered">
        <div><p class="heading">Lbs applied{% if year %} in {{ year }}{% endif %}</p><p class="title">{{ totals.lbs|lbs }}</p></div>
    </div>
    <div class="level-item has-text-centered">
        <div><p class="heading">Applications{% if year %} in {{ year }}{% endif %}</p><p class="title">{{ totals.applications|lbs }}</p></div>
    </div>
    <div class="level-item has-text-centered">
        <div><p class="heading">Counties</p><p class="title">{{ totals.counties }} <span class="is-size-5 has-text-grey">of {{ county_total }}</span></p></div>
    </div>
    {% if has_notices %}
    <div class="level-item has-text-centered">
        <div><p class="heading">Upcoming notices</p><p class="title">{{ upcoming_count }}</p></div>
    </div>
    {% endif %}
</div>
