{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ settings.GOOGLE_ANALYTICS_ID }}');
    </script>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="SJVAir is a network of low-cost air quality monitors providing real-time PM2.5 data to disadvantaged communities across the San Joaquin Valley. SJVAir is operated by a collaborative of non-profit organizations from Bakersfield to Stockton.">

    <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
    <meta name="msapplication-TileColor" content="#3298dc">
    <meta name="theme-color" content="#3298dc">

    <title>{% block title %}SJVAir{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" />
    <!--[if IE]><link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" /><![endif]-->

    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

    {% block extra-head %}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">

<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/sjvair.svg' %}" alt="SJVAir" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="id_navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="id_navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/alerts/">SMS Alerts</a>
                <a class="navbar-item" href="/guidelines/">Activity Guidelines</a>
                <a class="navbar-item" href="/about/">About Us</a>
                <!-- <a href="/api/" class="navbar-item">Developers</a> -->
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div id="google_translate_element"></div>
                </div>
                {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">{{ user.email }}</a>
                        <div class="navbar-dropdown">
                            <a href="{% url 'account:profile' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-user"></span>
                                </span>
                                <span>&nbsp; Your Profile</span>
                            </a>
                            <a href="{% url 'account:alerts' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-sensor-alert"></span>
                                </span>
                                <span>&nbsp; Air Quality Alerts</span>
                            </a>
                            <a href="{% url 'account:subscriptions' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-shield-check"></span>
                                </span>
                                <span>&nbsp; Monitor Subscriptions</span>
                            </a>
                            <a href="{% url 'account:password-change' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="muted far fa-fw fa-lock"></span>
                                </span>
                                <span>&nbsp; Change password</span>
                            </a>
                            <hr class="navbar-divider">
                            <a href="{% url 'account:logout' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-sign-out-alt"></span>
                                </span>
                                <span>&nbsp;Logout</span>
                            </a>
                        </div>
                    </div>
                {% else %}

                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="main">
    {% block main %}
    <div class="content">
        {% block messages %}
            {% for message in messages %}
                <article class="message is-{{ message.tags }}">
                    <div class="message-header">
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">{{ message|safe }}</div>
                </article>
            {% endfor %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</div>

</body>

{% if settings.SENTRY_DSN_CLIENT %}
<script type="text/javascript" src="https://cdn.ravenjs.com/3.12.1/raven.min.js"></script>
<script type="text/javascript">
    Raven.config('{{ settings.SENTRY_DSN_CLIENT }}', {
        release: '{{ settings.COMMIT_HASH }}'
    }).install();
</script>
{% endif %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block javascripts %}{% endblock %}

<!-- Translation -->
<script type="text/javascript">
function googleTranslateElementInit() {
    new google.translate.TranslateElement({
        autoDisplay: false,
        pageLanguage: 'en',
        includedLanguages: 'en,es,hmn,tl',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
    }, 'google_translate_element');
}
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</html>
