{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if settings.GOOGLE_TAG_MANAGER_ID %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ settings.GOOGLE_TAG_MANAGER_ID }}');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GOOGLE_TAG_MANAGER_ID }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ settings.GOOGLE_ANALYTICS_ID }}');
    </script>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="SJVAir is a network of low-cost air quality monitors providing real-time PM2.5 data to disadvantaged communities across the San Joaquin Valley. SJVAir is operated by a collaborative of non-profit organizations from Bakersfield to Stockton.">

    <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
    <meta name="msapplication-TileColor" content="#3298dc">
    <meta name="theme-color" content="#3298dc">

    <title>{% block title %}SJVAir{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" />
    <!--[if IE]><link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" /><![endif]-->

    {% block shared-head %}{% endblock %}
    {% block extra-head %}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">
    {% block body %}{% endblock %}
</body>

{% if settings.SENTRY_DSN_CLIENT %}
<script type="text/javascript" src="https://cdn.ravenjs.com/3.12.1/raven.min.js"></script>
<script type="text/javascript">
    Raven.config('{{ settings.SENTRY_DSN_CLIENT }}', {
        release: '{{ settings.COMMIT_HASH }}'
    }).install();
</script>
{% endif %}

{% block shared-scripts %}{% endblock %}

</html>
