{% extends 'base.html' %}
{% load static %}

{% block shared-head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="https://kit.fontawesome.com/4b80128965.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'img/sjvair.svg' %}" alt="SJVAir" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="id_navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="id_navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/alerts/">Text Alerts</a>
                <a class="navbar-item has-text-weight-medium" href="/app/">Get the App!</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Resources</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/guidelines/">
                            <span class="icon"><span class="fa-regular fa-fw fa-person-soccer"></span></span>
                            <span>Outdoor Activity Guidelines</span>
                        </a>

                        <a class="navbar-item" href="{% static 'docs/Wildfire-Smoke-Preparedness-2021.pdf' %}">
                            <span class="icon"><span class="fa-regular fa-fw fa-fire"></span></span>
                            <span>Wildfire Smoke Preparedness</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">About</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about/">
                            <span class="icon"><span class="fa-regular fa-fw fa-user-group"></span></span>
                            <span>About SJVAir</span>
                        </a>
                        <a class="navbar-item" href="/about/integrations/">
                            <span class="icon"><span class="fa-regular fa-fw fa-diagram-project"></span></span>
                            <span>Data Integrations</span>
                        </a>
                        <a class="navbar-item" href="/about/testing/">
                            <span class="icon"><span class="fa-regular fa-fw fa-chart-fft"></span></span>
                            <span>Monitor Testing</span>
                        </a>
                        <hr class="dropdown-divider" />
                        {% comment %}
                        <a class="navbar-item" href="{% url 'helpdesk:home' %}">
                            <span class="icon"><span class="fa-regular fa-fw fa-circle-question"></span></span>
                            <span>Support Center</span>
                        </a>
                        {% endcomment %}
                        <a class="navbar-item" href="{% url 'contact:form' %}">
                            <span class="icon"><span class="fa-regular fa-fw fa-envelope"></span></span>
                            <span>Contact Us</span>
                        </a>
                    </div>
                </div>
                <!-- <a href="/api/" class="navbar-item">Developers</a> -->
            </div>
            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">{{ user.get_name }}</a>
                        <div class="navbar-dropdown">
                            <a href="{% url 'account:profile' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-user"></span>
                                </span>
                                <span>&nbsp; Your Profile</span>
                            </a>
                            <a href="{% url 'account:alerts' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-sensor-alert"></span>
                                </span>
                                <span>&nbsp; Air Quality Alerts</span>
                            </a>
                            <a href="{% url 'account:subscriptions' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-shield-check"></span>
                                </span>
                                <span>&nbsp; Monitor Subscriptions</span>
                            </a>
                            <a href="{% url 'account:password-change' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="muted far fa-fw fa-lock"></span>
                                </span>
                                <span>&nbsp; Change password</span>
                            </a>
                            <hr class="navbar-divider">
                            <a href="{% url 'account:logout' %}" class="navbar-item">
                                <span class="icon is-small">
                                    <span class="far fa-fw fa-sign-out-alt"></span>
                                </span>
                                <span>&nbsp;Logout</span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <a class="navbar-item" href="{% url 'account:login' %}">Login</a>
                    <a class="navbar-item" href="{% url 'account:signup' %}">Sign up</a>
                {% endif %}
                <div class="navbar-item">
                    <div class="field">
                        <div class="control has-icons-left">
                            <div class="select is-small">
                                <select id="id_translate" onchange="setLanguage(this.value);">
                                    {% for code, name in settings.LANGUAGES %}
                                    <option value="{{ code }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <span class="icon is-left has-text-grey-light">
                                <span class="fas fa-language"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="navbar-item is-hidden">
                    <div id="google_translate_element"></div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="main">
    {% block main %}
    <div class="content">
        {% block messages %}
            {% for message in messages %}
                <article class="message is-{{ message.tags }}">
                    <div class="message-header">
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">{{ message|safe }}</div>
                </article>
            {% endfor %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
</div>

{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column nav is-half-tablet is-one-quarter-desktop">
                <h4>Air Quality</h4>
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-map"></span>
                        </span>
                        <a href="/">Live Map</a>
                    </li>
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-message-exclamation"></span>
                        </span>
                        <a href="/alerts/">Text Alerts</a>
                    </li>
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-mobile"></span>
                        </span>
                        <a href="/app/">Get the App!</a>
                    </li>
                </ul>
            </div>
            <div class="column nav is-half-tablet is-one-quarter-desktop">
                <h4>Resources</h4>
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-person-soccer"></span>
                        </span>
                        <a href="/guidelines/">Outdoor Activity Guidelines</a>
                    </li>
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-fire"></span>
                        </span>
                        <a href="{% static 'docs/Wildfire-Smoke-Preparedness-2021.pdf' %}">Wildfire Smoke Preparedness</a>
                    </li>
                </ul>
            </div>
            <div class="column nav is-half-tablet is-one-quarter-desktop">
                <h4>About</h4>
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-user-group"></span>
                        </span>
                        <a href="/about/">About SJVAir</a>
                    </li>
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-diagram-project"></span>
                        </span>
                        <a href="/about/integrations/">Data Integrations</a>
                    </li>
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-chart-fft"></span>
                        </span>
                        <a href="/about/testing/">Monitor Testing</a>
                    </li>
                    <li>
                        <span class="fa-li">
                            <span class="fa-regular fa-fw fa-envelope"></span>
                        </span>
                        <a href="{% url 'contact:form' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="column is-half-tablet is-one-quarter-desktop">
                <a href="/" class="logo image">
                    <img src="{% static 'img/sjvair-white.svg' %}" alt="SJVAir" />
                </a>

                <p class="description">SJVAir is a network of regulatory and professional-grade air quality monitors providing real-time data to disadvantaged communities across the San Joaquin Valley.</p>

                <div class="buttons are-small mt-2 mb-0">
                    <a href="https://bsky.app/profile/sjvair.com" class="button is-bluesky" target="_blank" title="Follow us on Bluesky">
                        <span class="icon">
                            <span class="fa-brands fa-bluesky fa-lg"></span>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/sjvair" class="button is-facebook" target="_blank" title="Like us on Facebook">
                        <span class="icon">
                            <span class="fa-brands fa-facebook-f fa-lg"></span>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/sjvair_quality" class="button is-instagram" target="_blank" title="Follow us on Instagram">
                        <span class="icon">
                            <span class="fa-brands fa-instagram fa-lg"></span>
                        </span>
                    </a>
                    <a href="https://github.com/SJVAir" class="button is-github" target="_blank" title="Fork us on Github">
                        <span class="icon">
                            <span class="fa-brands fa-github fa-lg"></span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
{% endblock %}

{% block shared-scripts %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block javascripts %}{% endblock %}

<script type="text/javascript">
    function setLanguage(language){
        console.log('setLanguage', language);

        let $select = document.getElementById('id_translate'),
            $goog = document.querySelector('select.goog-te-combo');

        if(language == 'en' && ($goog.value == 'en' || $goog.value == '')){
            $select.value = 'en';
            return;
        }

        if($select.value != language){
            $select.value = language;
        }
        doGTranslate('en|' + language);
    }

    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            autoDisplay: false,
            pageLanguage: 'en',
            includedLanguages: 'en,es,hmn,tl',
        }, 'google_translate_element');

        let $select = document.getElementById('id_translate'),
            $goog = document.querySelector('select.goog-te-combo');

        // Keep the select up to date with the google select
        $goog.addEventListener('change', function(){
            let $select = document.getElementById('id_translate');
            console.log('goog.changed', this.value, $select.value);
            if($select.value != this.value){
                $select.value = this.value ? this.value : 'en';
            }
        });

        setTimeout(function(){
            let $select = document.getElementById('id_translate'),
                $goog = document.querySelector('select.goog-te-combo');
            $select.value = $goog.value ? $goog.value : "en";

            {% if user.is_authenticated %}
                setLanguage('{{ user.language }}');
            {% endif %}
        }, 1000);
    }
</script>

<script type="text/javascript">
// via gtranslate.io
/* <![CDATA[ */
eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
/* ]]> */
</script>

<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}
