{% extends "admin/change_form.html" %}
{% load admin_urls %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<script type="text/javascript" src="{% static 'sensor-scatterplot/sensor-scatterplot.js' %}"></script>
<script type="module">
    function appendScatterplot(event) {
        event.preventDefault();
        const target = event.target;
        const scatterplot = document.createElement('scatter-plot');

        target.getAttributeNames()
          .map(name => [ name, target.getAttribute(name) ])
          .forEach(attr => scatterplot.setAttribute(attr[0], attr[1]));

        // Add the scatterplot as the next element and remove the button.
        target.parentNode.append(scatterplot);
        target.remove();
    }

    const dataCells = document.querySelectorAll(".field-view_chart");
    const chartBtns = document.querySelectorAll("a[monitorId]");

    // Lock width on chart table data cells to prevent expansion
    dataCells.forEach(dc => {
      dc.style.width = window.getComputedStyle(dc).width;
    });

    // Append chart on click
    chartBtns.forEach(btn => btn.addEventListener("click", appendScatterplot))
</script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ export_form.media }}

<style type="text/css">
  td.original p {
    display: none
  }

    #export-form {
        background: #f8f8f8;
        border: #eee 1px solid;
        border-radius: 4px;
        padding: 12px 14px;
    }

    #export-form form {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        align-items: stretch;
    }

    #export-form div.control {
    }

    #export-form div.submit-buttons {
        display: flex;
        align-items: flex-end;
    }

    #export-form label {
        color: #666;
        font-size: 11px;
        text-transform: uppercase;
    }

    #archives {
        width: 100%;
    }

    #archives ul {
        list-style: none;
        margin-left: 0;
    }

    #archives ul > li {
        display: inline-block;
        margin-left: 1em;
    }

    #monitor-status table {
        width: 100%;
    }

    .analysis-chart {
      text-align: center;
      cursor: pointer;
    }

    scatter-plot {
      width: 500px;
      height: 300px;
    }
</style>
{% endblock %}


{% block object-tools %}
    {{ block.super }}
    {% if original %}
    <fieldset id="monitor-status" class="module aligned wide">
        <h2>Current Status</h2>
        <table>
            <thead>
                <tr>
                    <th>Last Updated</th>
                    <th>Current Health</th>
                    <th>PM2.5</th>
                    <th>PM2.5 (15m)</th>
                    <th>PM2.5 (60m)</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Alert</th>
                    <th>Sensor Analysis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if original.latest %}
                            <span>{{ original.latest.timestamp }}</span>
                            {% if original.is_active %}
                                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="Active" />
                            {% else %}
                                <img src="{% static 'admin/img/icon-no.svg' %}" alt="Inactive" />
                            {% endif %}
                            <br />
                            <small>({{ original.latest.timestamp|timesince }} ago)</small>
                        {% else %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" alt="Inactive" />
                        {% endif %}
                    </td>
                    <td>
                        {% if original.current_health %}
                            {% include "admin/qaqc/letter_grade.html" with analysis=original.current_health %}
                        {% else %}
                            <span>-</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if original.latest %}
                            <span>{{ original.latest.pm25|floatformat:"0" }}</span>
                        {% else %}
                            <span>–</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if original.latest.pm25_avg_15 %}
                            <span>{{ original.latest.pm25_avg_15|floatformat:"0" }}</span>
                        {% else %}
                            <span>–</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if original.latest.pm25_avg_60 %}
                            <span>{{ original.latest.pm25_avg_60|floatformat:"0" }}</span>
                        {% else %}
                            <span>–</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if original.latest.fahrenheit %}
                            <span>{{ original.latest.fahrenheit|floatformat:"0" }}°F</span>
                        {% else %}
                            <span>–</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if original.latest.humidity %}
                            <span>{{ original.latest.humidity|floatformat:"0" }}%</span>
                        {% else %}
                            <span>–</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if alert %}
                            <span>{{ alert.start_time|timesince }}</span>
                            <b style="color: red;">⚠</b><br />
                            <small>({{ alert.start_time|timesince }} ago)</small>
                        {% else %}
                            <span>–</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if original.current_health %}
                            {% with original.current_health as health %}
                            <a href="#"
                                detectBackground="true"
                                monitorId="{{ original.id }}"
                                timestampGte="{{ health.start_date.isoformat }}"
                                timestampLte="{{ health.end_date.isoformat }}"
                            >View Chart</a>
                            {% endwith %}
                        {% else %}
                            <span>-</span>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    {% endif %}

    <fieldset id="data-export" class="module aligned wide collapse">
        <h2>Data Export</h2>
        {% if change and export_form %}
        <div id="export-form">
            <form action="{% url 'api:v1:monitors:entry-csv' object_id %}" method="get">
                <div class="control">
                    <label for="{{ export_form.timestamp__gte.auto_id }}">{{ export_form.timestamp__gte.label }}</label><br />
                    <div class="field">{{ export_form.timestamp__gte }}</div>
                </div>
                <div class="control">
                    <label for="{{ export_form.timestamp__lte.auto_id }}">{{ export_form.timestamp__lte.label }}</label><br />
                    <div class="field">{{ export_form.timestamp__lte }}</div>
                </div>
                {% if not original.SENSORS|length == 1 %}
                <div class="control">
                    <label for="id_sensors">Sensor</label><br />
                    <div class="field">
                        <select id="id_sensors" name="sensor">
                            {% for sensor in original.SENSORS %}
                            <option value="{{ sensor }}" {% if sensor == original.default_sensor %}selected{% endif %}>{{ sensor }}</option>
                            {% endfor %}
                        </select><br />
                        <span class="help">Download a specific sensor.</span>
                    </div>
                </div>
                {% endif %}
                <div class="submit-buttons">
                    <input type="submit" value="Export Data" />
                </div>
            </form>
        </div>
        {% endif %}

        {% if change and original %}
        {% regroup entry_archives by year as year_list %}
        <table id="archives">
            <caption>Monthly Archives</caption>
            <tbody>
            {% for year in year_list %}
            <tr>
                <td>
                    <h3>{{ year.grouper }}</h3>
                    <ul>
                        {% for archive in year.list %}
                            <li><a href="{{ archive.data.url }}">{{ archive.get_month_display }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </fieldset>
{% endblock %}
