{% extends "admin/change_form.html" %}
{% load admin_urls %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ export_form.media }}

<style type="text/css">
    #export-form {
        background: #f8f8f8;
        border: #eee 1px solid;
        border-radius: 4px;
        padding: 12px 14px;
    }

    #export-form div.control,
    #export-form div.field {
        display: inline-block;
    }

    #export-form div.control {
        margin-right: 1rem;
    }

    #export-form label {
        color: #666;
        font-size: 11px;
        text-transform: uppercase;
    }

    #export-form .submit-buttons {
        display: inline-block;
        /*float: right;*/
    }
</style>
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    {% if change and export_form %}
    <div id="export-form">
        <form action="{% url 'api:v1:monitors:entry-csv' object_id %}" method="get">
            <div class="control">
                <label for="{{ export_form.timestamp__gte.auto_id }}">{{ export_form.timestamp__gte.label }}</label><br />
                <div class="field">{{ export_form.timestamp__gte }}</div>
            </div>
            <div class="control">
                <label for="{{ export_form.timestamp__lte.auto_id }}">{{ export_form.timestamp__lte.label }}</label><br />
                <div class="field">{{ export_form.timestamp__lte }}</div>
            </div>
            {% if not original.SENSORS|length == 1 %}
            <div class="control">
                <label for="id_sensors">Sensor</label><br />
                <div class="field">
                    <select id="id_sensors" name="sensor">
                        {% for sensor in original.SENSORS %}
                        <option value="{{ sensor }}" {% if sensor == original.default_sensor %}selected{% endif %}>{{ sensor }}</option>
                        {% endfor %}
                    </select><br />
                    <span class="help">Download a specific sensor.</span>
                </div>
            </div>
            {% endif %}
            <div class="submit-buttons">
                <input type="submit" value="Export Data" />
            </div>
        </form>
    </div>
    <br /><hr />
    {% endif %}
{% endblock %}
