{% extends 'page.html' %}
{% load static %}

{% block title %}Outdoor Activity Guidelines | {{ block.super }}{% endblock %}

{% block body-class %}guidelines{% endblock %}

{% block main %}
<section class="section hook is-medium">
    <div class="container">
        <div class="content">
            <h1>{% block hook_title %}Real-Time Outdoor Activity Guidelines Based on PM2.5 Concentration{% endblock %}</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tabs is-medium is-boxed">
            <ul>
                <li {% block tab_general %}class="is-active"{% endblock %}><a href="/guidelines/">General Guidelines</a></li>
                <li {% block tab_schools %}{% endblock %}><a href="/guidelines/schools/">Guidelines for Schools</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="content">
                {% block guidelines_content %}
                <table class="table is-bordered is-fullwidth guidelines">
                    <thead>
                        <tr class="guidelines-header">
                            <th class="guidelines-label">Air Quality</th>
                            <th class="guidelines-level level-1">Good</th>
                            <th class="guidelines-level level-2">Moderate</th>
                            <th class="guidelines-level level-3">Unhealthy for Sensitive Groups</th>
                            <th class="guidelines-level level-4">Unhealthy</th>
                            <th class="guidelines-level level-5">Very Unhealthy</th>
                            <th class="guidelines-level level-6">Hazardous</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="guidelines-label">Guidance</th>
                            <td class="guidelines-level level-1">
                                <p><b>No restrictions:</b> It's a great day to be active outside.</p>
                            </td>
                            <td class="guidelines-level level-2">
                                <p><b>Highly sensitive individuals:</b> Consider reducing prolonged or heavy exertion. Watch for symptoms such as coughing or shortness of breath. These are signs to take it easier.</p>
                                <p><b>Everyone else:</b> It's a good day to be active outside.</p>
                                <p><b></b></p>
                            </td>
                            <td class="guidelines-level level-3">
                                <p><b>Sensitive groups:</b> Reduce prolonged exposure or heavy exertion. It's okay to be active outside, but take more breaks and do less intensive activities. Watch for symptoms such as coughing or shortness of breath.</p>
                                <p><b>People with Asthma</b> should follow their asthma action plans and keep quick relief  medicine handy.</p>
                                <p><b>If you have heart disease,</b> symptoms such as palpitations, shortness of breath, or unusual fatigue may indicate a serious problem. If you have any of these symptoms, contact your healthcare provider.</p>
                                <p><b>Everyone else:</b> It's okay to be active outside, but take more breaks and do less intensive activities.</p>
                            </td>
                            <td class="guidelines-level level-4">
                                <p><b>Sensitive groups:</b> Avoid prolonged or heavy exertion. Consider moving activities indoors or rescheduling.</p>
                                <p><b>Everyone else:</b> Reduce prolonged or heavy exertion. Take more breaks during outdoor activities.</p>
                            </td>
                            <td class="guidelines-level level-5">
                                <p><b>Sensitive groups:</b> Avoid all physical activities outdoors. Move activities indoors or reschedule to a time when air quality is better.</p>
                                <p><b>Everyone else:</b> Avoid prolonged or heavy exertion. Consider moving activities indoors or rescheduling to a time when air quality is better.</p>
                            </td>
                            <td class="guidelines-level level-6">
                                <p><b>Sensitive groups:</b> Remain indoors and keep activity levels low. Follow tips for keeping particle levels low indoors.</p>
                                <p><b>Workplace:</b> May consider closing if not essential to public health.</p>
                                <p><b>Everyone else:</b> Avoid all physical activity outdoors.</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="guidelines-label">
                                <div>PM2.5</div>
                                <div>AQI</div>
                            </th>
                            <td class="guidelines-level level-1">
                                <div>0.0 – 12.0 &micro;g/m&sup3;</div>
                                <div>1 – 50</div>
                            </td>
                            <td class="guidelines-level level-2">
                                <div>12.1 – 35.4 &micro;g/m&sup3;</div>
                                <div>51 – 100</div>
                            </td>
                            <td class="guidelines-level level-3">
                                <div>35.5 – 55.4 &micro;g/m&sup3;</div>
                                <div>101 – 150</div>
                            </td>
                            <td class="guidelines-level level-4">
                                <div>55.5 – 150.4 &micro;g/m&sup3;</div>
                                <div>151 – 200</div>
                            </td>
                            <td class="guidelines-level level-5">
                                <div>150.5 – 250.4 &micro;g/m&sup3;</div>
                                <div>201 – 300</div>
                            </td>
                            <td class="guidelines-level level-6">
                                <div>&ge;250.5 &micro;g/m&sup3;</div>
                                <div>&ge;301</div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <p>
                                    AQI is based on 24-hour average PM2.5 concentration.
                                    Guidelines are based on hourly PM2.5 concentration.
                                </p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
