{% extends "admin/change_form.html" %}
{% load admin_urls %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ export_form.media }}

<style type="text/css">
  td.original p {
    display: none
  }

    #export-form {
        background: #f8f8f8;
        border: #eee 1px solid;
        border-radius: 4px;
        padding: 12px 14px;
    }

    #export-form form {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        align-items: stretch;
    }

    #export-form div.control {
    }

    #export-form div.submit-buttons {
        display: flex;
        align-items: flex-end;
    }

    #export-form label {
        color: #666;
        font-size: 11px;
        text-transform: uppercase;
    }

    #archives {
        width: 100%;
    }

    #archives ul {
        list-style: none;
        margin-left: 0;
    }

    #archives ul > li {
        display: inline-block;
        margin-left: 1em;
    }

    #monitor-status table {
        width: 100%;
    }

    .analysis-chart {
      text-align: center;
      cursor: pointer;
    }

    scatter-plot {
      width: 500px;
      height: 300px;
    }
</style>
{% endblock %}


{% block object-tools %}
    {{ block.super }}
    {% if original %}
    {% with original.get_latest_data as data %}
    <fieldset id="monitor-status" class="module aligned wide">
        <h2>Current Status</h2>
        <table>
            <thead>
                <tr>
                    <th>Last Updated</th>
                    <th>Current Health</th>
                    <th>PM2.5</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Alert</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if original.last_entry_timestamp %}
                            <span>{{ original.last_entry_timestamp }}</span>
                            {% if original.is_active %}
                                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="Active" />
                            {% else %}
                                <img src="{% static 'admin/img/icon-no.svg' %}" alt="Inactive" />
                            {% endif %}
                            <br />
                            <small>({{ original.last_entry_timestamp|timesince }} ago)</small>
                        {% else %}
                            <img src="{% static 'admin/img/icon-no.svg' %}" alt="Inactive" />
                        {% endif %}
                    </td>
                    <td>
                        <span>{{ original.health.grade|default_if_none:'-' }}</span>
                    </td>
                    <td>
                        <span>{{ data.pm25.value|floatformat:"0"|default_if_none:'-' }}</span>
                    </td>
                    <td>
                        <span>{{ data.temperature.value|floatformat:"0"|default_if_none:'-' }}°F</span>
                    </td>
                    <td>
                        <span>{{ data.humidity.value|floatformat:"0"|default_if_none:'-' }}%</span>
                    </td>
                    <td>
                        {% for alert in alerts %}
                            <span><b style="color: red;">⚠</b> {{ alert.entry_type.label }}: {{ alert.latest.get_level }}</span>
                            <small>({{ alert.start_time|timesince }} ago)</small>
                            {% if not forloop.last %}<hr />{% endif %}
                        {% empty %}
                            <span>–</span>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    {% endwith %}
    {% endif %}

    <fieldset id="data-export" class="module aligned wide collapse">
        <h2>Data Export</h2>
        {% if change and export_form %}
        <div id="export-form">
            <form action="{% url 'api:v2:monitors:entry-export' object_id %}" method="post">
                <div class="control">
                    <label for="{{ export_form.start_date.auto_id }}">{{ export_form.start_date.label }}</label><br />
                    <div class="field">{{ export_form.start_date }}</div>
                </div>
                <div class="control">
                    <label for="{{ export_form.end_date.auto_id }}">{{ export_form.end_date.label }}</label><br />
                    <div class="field">{{ export_form.end_date }}</div>
                </div>
                <div class="submit-buttons">
                    <input type="submit" value="Export Data" />
                </div>
            </form>
        </div>
        {% endif %}

        {% if change and original %}
        {% regroup entry_archives by year as year_list %}
        <table id="archives">
            <caption>Monthly Archives</caption>
            <tbody>
            {% for year in year_list %}
            <tr>
                <td>
                    <h3>{{ year.grouper }}</h3>
                    <ul>
                        {% for archive in year.list %}
                            <li><a href="{{ archive.data.url }}">{{ archive.get_month_display }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </fieldset>
{% endblock %}
