{% extends 'emissions/base.html' %}

{% block title %}Map | {{ block.super }}{% endblock %}
{% block body-class %}{{ block.super }} map-page{% endblock %}
{% block breadcrumb-list %}<li class="is-active"><a aria-current="page">Map</a></li>{% endblock %}

{% block explorer-content %}
{% include 'emissions/includes/facility-map.html' %}
{# The legend says what the circles and shades are; this is just the way to the table. #}
<p class="is-size-7 mt-2"><a href="{% url 'emissions:facility-list' %}{{ scope_qs }}">See these facilities as a table</a>.</p>
<noscript><p>The map needs JavaScript. <a href="{% url 'emissions:facility-list' %}{{ scope_qs }}">Browse the facility table instead</a>.</p></noscript>
{% endblock %}
