@import ../mixins

body.about
    section.partners
        background-color: $white

    .partner
        padding-bottom: 2rem

        .logo
            background-position: center center
            background-repeat: no-repeat
            background-size: contain
            display: block
            height: 150px
            margin: auto
            margin-bottom: 1rem
            width: 50%

    .colophon
        img
            max-height: 150px
            max-width: 150px

body.about.collaborative
    .hook
        @include header-bg('../img/about/purpleair-testing-3.jpg', .6)

body.about.technology
    .hook
        @include header-bg('../img/about/air-monitor-prototype.jpg', .6)

body.about.process
    .hook
        @include header-bg('../img/about/delano-bam.jpg', .5)

    .images
        @extend .has-text-centered
        @extend .mb-6
        @extend .mt-6

        &:last-child
            @extend .mb-0

        img
            display: inline-block
            margin-right: $gap
            width: auto

            &:last-child
                margin-right: 0

            @include tablet
                height: 25em
