@import ../mixins

body.about
    section.partners
        background-color: $white

        .partner
            padding-bottom: 2rem

            .logo
                background-position: center center
                background-repeat: no-repeat
                background-size: contain
                display: block
                height: 150px
                margin: auto
                margin-bottom: 1rem
                width: 50%

body.about.collaborative
    .hook
        @include header-bg('../img/about/purpleair-testing-3.jpg', .6)

body.about.colophon
    .hook
        @include header-bg('../img/about/air-monitor-prototype.jpg', .6)

    section
        .title
            font-size: $size-2

    section.data-providers
        .lead
            @extend .mb-6
    
        img
            max-height: 100px
            max-width: 250px

    section.technology
        img
            max-height: 150px
            max-width: 150px

body.about.testing
    .hook
        @include header-bg('../img/about/delano-bam.jpg', .5)

    .images
        @extend .mb-6
        @extend .mt-6

        &:last-child
            @extend .mb-0

        img
            width: 100%
            height: auto

            @include tablet
                max-height: 15em

            @include desktop
                max-height: 25em
