@import ../mixins

body.about
    .hook
        @include header-bg('../img/about/delano-bam.jpg', .5)
        

    section
        .title
            font-size: $size-2

    section.data-providers,
    section.funding-sources
        .lead
            @extend .mb-6
    
        img
            max-height: 100px
            max-width: 250px

    section.technology-stack
        img
            max-height: 150px
            max-width: 150px

    section.open-source
        img.sjvair-logo
            height: 4em
            vertical-align: top

body.about.testing
    .hook
        @include header-bg('../img/about/purpleair-testing-3.jpg', .6)

    .images
        @extend .mb-6
        @extend .mt-6

        &:last-child
            @extend .mb-0

        img
            width: 100%
            height: auto

            @include tablet
                max-height: 15em

            @include desktop
                max-height: 25em
