body.account
    .account-menu
        .icon
            color: $grey

        .is-active
            background-color: $info
            // font-weight: 600

            .icon
                color: $grey-lightest
