body.account
    .account-menu
        .icon
            color: $grey

        .is-active
            background-color: $info-dark

            .icon
                color: $grey-lightest

        .tag
            font-weight: $weight-semibold
            height: auto

    form.phone-verify-submit
        label[for="id_code"]
            display: none
