body.account
    .account-menu

        .icon
            @extend .has-text-grey

        .is-active
            background-color: $blue

            .icon
                @extend .has-text-white-ter

        .tag
            font-weight: $weight-semibold
            height: auto

    form.phone-verify-submit
        label[for="id_code"]
            display: none
