body.alerts
    .hook
        @extend .has-background-grey-lighter
        background-image: url('/static/img/fresno-bad-air.jpg')
        background-position: center
        background-size: cover

        .content
            background-color: #00000077
            padding: $size-4

    .mobile-screenshots
        img
            transform: rotate(-10deg)
            margin-bottom: -5rem
