body.guidelines
    .hook
        @include header-bg('../img/park-activity.jpg', .4)

    table.guidelines
        font-size: $size-7

        th, td
            text-align: center
            vertical-align: middle

        .guidelines-label
            width: 10%

        .guidelines-level
            width: 15%

        tr.guidelines-header
            th
                text-align: center

    td.guidelines-level
        &.level-1
            background-color: findLightColor($blue)

        &.level-2
            background-color: $white-bis

        &.level-3
            background-color: $white-ter

        &.level-4
            background-color: $grey-lightest

        &.level-5
            background-color: $grey-lighter

        &.level-6
            background-color: $grey-light


