body.map
    #map
        height: calc((100vh - #{$navbar-height}) / 2)

        &.is-maximised
            height: calc(100vh - #{$navbar-height})

    .display-options
        float: left
        position: relative
        margin: .5rem 0 -100% .5rem
        padding: .5rem 1rem
        z-index: 9999

    .monitor-detail
        background-color: #fff
        width: 100%

    .monitor-close
        color: $grey-light
        cursor: pointer
        float: right
        padding: $column-gap

    .monitor-header
        padding: $column-gap

        .monitor-name
            font-size: $size-5
            font-weight: bold

    .monitor-graph
        .chart
            height: 250px

    table.latest-stats
        thead th
            vertical-align: center
