{% extends 'page.html' %}
{% load static %}
{% load sjvair %}

{% block title %}Help Center | {{ block.super }}{% endblock %}

{% block body-class %}helpdesk{% endblock %}

{% block main %}
<section class="section is-small hook">
    <div class="container">
        {% block search_header %}
        <div class="content">
            <h1 class="is-size-2">Help Center</h1>
            <form action="{% url 'helpdesk:search' %}" method="GET" class="form search is-inline-block">
                <div class="field is-grouped">
                    <p class="control has-icons-left">
                        <input type="text" name="q" value="{{ search_query }}" class="input is-large" placeholder="Search...">
                        <span class="icon is-small is-left">
                            <span class="fas fa-search"></span>
                        </span>
                    </p>
                    <p class="control">
                        <button class="button is-large is-dark">Search</button>
                    </p>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>
</section>

{% block breadcrumbs %}
<section class="breadcrumbs">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'helpdesk:home' %}">Help Center</a></li>
                {% block breadcrumb-list %}{% endblock %}
            </ul>
        </nav>
    </div>
</section>
{% endblock %}
{% block content %}{% endblock %}

{% endblock %}
