ALLOWED_HOSTS=localhost,.ngrok.io
AIRNOW_API_KEY=
DATABASE_URL=postgres://vagrant:vagrant@localhost:5432/vagrant_dev
DJANGO_DEBUG=1
DJANGO_SETTINGS_MODULE=camp.settings.vagrant
GOOGLE_ANALYTICS_ID=
HUEY_IMMEDIATE=0
HUEY_WORKERS=80
HUEY_WORKERS=80
MAX_QUEUE_SIZE=100000
PURPLEAIR_READ_KEY=
PURPLEAIR_WRITE_KEY=
PURPLEAIR_GROUP_ID=
REDIS_URL=redis://127.0.0.1:6379
SECRET_KEY=<SECRET_KEY>
SJVAIR_INACTIVE_ALERT_EMAILS=root@localhost
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBERS=
