{% extends 'page.html' %}
{% load static %}
{% load sjvair %}

{% block title %}SJVAir Collaborative | {{ block.super }}{% endblock %}

{% block body-class %}about collaborative{% endblock %}

{% block main %}
<section class="section is-medium hook">
<div class="container">
    <div class="content">
        <h1 class="title">SJVAir Collaborative</h1>
        <p class="lead">SJVAir is a network of low-cost air quality monitors providing real-time PM2.5 data to disadvantaged communities across the San Joaquin Valley. SJVAir is operated by a collaborative of non-profit organizations from Bakersfield to Stockton.</p>
    </div>
</div>
</section>

<section class="section partners">
    <div class="container">
        <div class="columns is-multiline is-centered is-variable is-8">
            {% load_datafile 'partners.yaml' as partners %}
            {% for partner in partners %}
            <div class="column is-half">
                <div class="partner">
                    <a href="{{ partner.url }}" target="_blank" class="logo" style="background-image: url('{% static partner.logo %}')"></a>
                    <div class="content">
                        <p class="description">{{ partner.description }}</p>
                        <p class="link">
                            <a href="{{ partner.url }}" target="_blank" class="button is-link is-light is-small">
                                <span class="icon is-small">
                                    <span class="fas fa-external-link"></span>
                                </span>
                                <span>{{ partner.url|domainify }}</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}
