{% extends 'page.html' %}
{% load static %}
{% load sjvair %}

{% block title %}SMS Alerts | {{ block.super }}{% endblock %}

{% block body-class %}alerts{% endblock %}

{% block main %}
<section class="section hook">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-4-tablet is-3-desktop mobile-screenshots">
                <img src="{% static 'img/text-alert.png' %}" class="is-responsive" alt="" />
            </div>
            <div class="column is-7-desktop content">
                <h1 class="is-size-1">Live air quality alerts, straight to your phone.</h1>
                <p class="lead">Get notified when the air is bad in your area with
                    the only real-time air quality alert system in California.</p>
                {% if not user.is_authenticated %}
                <p class="buttons">
                    <a class="button is-white" href="{% url 'account:login' %}">Login to your account</a>
                    <a class="button is-info" href="{% url 'account:signup' %}">Sign up for air quality alerts</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="is-size-1 title has-text-centered">How does it work?</h1>
        </div>

        {% load_datafile 'alerts-boxes.yaml' as alerts_boxes %}
        {% for box in alerts_boxes %}
        <div class="columns is-centered">
            <div class="column is-10-tablet is-10-desktop">
                <div class="box mb-6">
                    <div class="columns is-reversed is-multiline is-centered">
                        <div class="column is-12-tablet is-7-desktop">
                            <div class="content">
                                <h2>{{ box.title }}</h3>
                                <p class="lead">{{ box.content }}</p>
                            </div>
                        </div>
                        <div class="column is-10-tablet is-5-desktop">
                            <figure class="image is-3by2">
                                <img src="{% static box.image %}" alt="" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="card is-horizontal mb-5">
            <div class="card-image">
                <figure class="image is-3by2">
                    <img src="{% static box.image %}" alt="" />
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <h2>{{ box.title }}</h3>
                    <p class="lead">{{ box.content }}</p>
                </div>
            </div>
        </div> -->
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}
