{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | {{ block.super }}{% endblock %}

{% block body-class %}about{% endblock %}

{% block main %}
<section class="section hook">
    <div class="container">
        <div class="content">
            <h1>API Documentation</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content">
            <p class="lead">Coming soon, stay tuned!</p>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}
