{% extends 'page.html' %}
{% load cache %}
{% load static %}
{% load sjvair %}

{% block title %}API | {{ block.super }}{% endblock %}

{% block body-class %}api{% endblock %}

{% block main %}
<section class="section hook">
    <div class="container">
        <div class="content">
            <h1>API Endpoint Reference</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tabs-with-content">
            <div class="tabs">
                <ul>
                    <li><a>Monitor List</a></li>
                    <li><a>Monitor Detail</a></li>
                    <li><a>Entries List</a></li>
                    <li><a>Entries CSV</a></li>
                </ul>
            </div>
            <div>
                <section class="tab-content">
                    {% api_docs "/api/1.0/monitors/" '{"name__icontains": "Root Access"}' %}
                </section>
                <section class="tab-content">
                    {% api_docs "/api/1.0/monitors/xudEmbncQ7iqwy3sZ0jZvQ/" %}
                </section>
                <section class="tab-content">
                    {% api_docs "/api/1.0/monitors/xudEmbncQ7iqwy3sZ0jZvQ/entries/" %}
                </section>
                <section class="tab-content">
                    {% api_docs "/api/1.0/monitors/xudEmbncQ7iqwy3sZ0jZvQ/entries/csv/" '{"timestamp__gte": "2021-01-18", "timestamp__lte": "2021-01-19"}' %}
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'js/bulma-tabs.js' %}"></script>
{% endblock %}
