{% extends 'page.html' %}
{% load static %}

{# @sjvair/monitor-map #}
{% block extra-head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link type="text/css" rel="stylesheet" href="{% static 'monitor-map/main.css' %}" />
<script type="module" src="{% static 'monitor-map/sjvairMonitorMap.js' %}" async defer></script>
{% endblock %}

{% block title %}{{ block.super }}{% endblock %}

{% block body-class %}map{% endblock %}

{% block main %}
<div id="SJVAirMonitorMap"></div>
{% endblock %}

{# No footer on the homepage #}
{% block footer %}{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    window.GOOGLE_MAPS_API_KEY = "{{ settings.GOOGLE_MAPS_API_KEY }}";
    window.USER = {
        id: {% if user.pk %}"{{ user.pk }}"{% else %}null{% endif %},
        name: "{{ user.name }}",
        email: "{{ user.email }}",
        is_authenticated: {{ user.is_authenticated|lower }},
        is_anonymous: {{ user.is_anonymous|lower }}
    };
</script>


{% endblock %}
