{% extends 'base.html' %}
{% load static %}

{# @sjvair/monitor-map #}
{% block extra-head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link type="text/css" rel="stylesheet" href="{% static 'widget/main.css' %}" />
<script type="module" src="{% static 'widget/sjvairMonitorMap.js' %}" async defer></script>
<style>

#SJVAirMonitorMap {
  width: 100vw;
  height: 100vh;
}
</style>
{% endblock %}

{% block title %}SJVAir Monitor Map{% endblock %}

{% block body-class %}map{% endblock %}

{% block body %}
<div id="SJVAirMonitorMap"></div>
{% endblock %}
