{% extends 'page.html' %}
{% load static %}
{% load sjvair %}

{% block title %}Colophon | {{ block.super }}{% endblock %}

{% block body-class %}about colophon{% endblock %}

{% block main %}
<section class="section is-medium hook">
    <div class="container">
        <div class="content">
            <h1 class="title">Colophon</h1>
            <!-- <p class="lead">SJVAir is handmade by <a href="https://cencalasthma.org/">Central California Asthma Collaborative</a> with support from <a href="https://rootaccess.org/">Root Access</a>, and we would like to thank the people behind the following organizations and projects which this website relies upon.</p> -->
            <p class="lead">The SJVAir team would like to thank the people behind the following organizations and projects which this website relies upon.</p>
        </div>
    </div>
</section>

<section class="section is-medium data-providers has-background-white">
    <div class="container">
        <div class="columns is-centered is-vcentered">
            <div class="column is-6">
                <h1 class="title"><span class="has-text-info">Data</span> Providers</h1>
                <p class="lead">SJVAir integrates with multiple air quality networks to bring data from different groups into one place, and we thank them for generously sharing their data with us.</p>
            </div>
        </div>
        <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered is-variable is-8">
            {% load_datafile 'data-providers.yaml' as provider_list %}
            {% for provider in provider_list %}
            <div class="column is-6-mobile is-6-tablet is-4-desktop">
                <a href="{{ provider.url }}" target="_blank">
                    <img src="{% static provider.logo %}" alt="{{ provider.name }}" class="is-responsive" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section is-medium school-districts has-background-white-bis">
    <div class="container">
        <div class="columns is-centered is-variable is-8">
            <div class="column is-6">
                <h1 class="title"><span class="has-text-danger">School</span> Districts</h1>
                <p class="lead">We've partnered with school districts in the San Joaquin Valley to set up air quality networks in communities that previously had limited access to local real-time air quality information.</p>
            </div>
            <div class="column is-6">
                <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered is-variable is-8">
                    {% load_datafile 'school-districts.yaml' as district_list %}
                    {% for district in district_list %}
                    <div class="column is-6-mobile is-6-tablet is-4-desktop">
                        <a href="{{ district.url }}" target="_blank" class="school-{{ district.slug }}">
                            <img src="{% static district.logo %}" alt="{{ district.name }}" class="is-responsive" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium technology has-background-white-ter">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column is-6">
                <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered">
                    {% load_datafile 'technologies.yaml' as technology_list %}
                    {% for project in technology_list %}
                    <div class="column is-6-mobile is-4-tablet is-3-desktop">
                        <a href="{{ project.url }}" target="_blank">
                            <img src="{% static project.logo %}" alt="{{ project.name }}" class="is-responsive" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="column is-6">
                <h1 class="title"><span class="has-text-success">Technology</span> Stack</h1>
                <p class="lead">SJVAir wouldn't be possible without the thousands of people who have generously given their time to build and maintain these and other Open Source and Maker community projects.</p>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-10-desktop">
                <div class="columns is-vcentered">
                    <div class="column is-4-tablet is-3-desktop has-text-centered">
                        <div class="content">
                            <div class="is-size-1">
                                <span class="fal fa-lungs has-text-info"></span>
                                <span class="fal fa-heart has-text-danger"></span>
                                <span class="fab fa-osi has-text-success"></span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-8-tablet is-9-desktop">
                        <div class="content">
                            <h1><span class="has-text-primary">Open is better</span> than closed.</h1>
                            <p>We subscribe to the ideals of Open Source software, hardware, and data,
                                and believe that these things should be freely available to the public
                                for the benefit of everyone. We're making a commitment that the
                                technology that powers SJVAir will be published on Github and our API
                                will be documented and freely available for anyone to use. More
                                information will be available soon.</p>
                            <ul class="is-inline">
                                <li><a href="https://github.com/sjvair" target="_blank" class="button is-light">
                                    <span class="icon">
                                        <span class="fab fa-github"></span>
                                    </span>
                                    <span>github.com/sjvair</span>
                                </a></li>
                                <li><a href="https://www.sjvair.com/api/" class="button is-light">
                                    <span class="icon">
                                        <span class="far fa-cog"></span>
                                    </span>
                                    <span>sjvair.com/api</span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
