{% extends 'page.html' %}
{% load static %}
{% load sjvair %}

{% block title %}About SJVAir | {{ block.super }}{% endblock %}

{% block body-class %}about{% endblock %}

{% block main %}
<section class="section is-medium hook">
    <div class="container">
        <div class="content">
            <h1 class="title">About SJVAir</h1>
            <p class="lead">SJVAir is a network of regulatory and professional-grade air quality monitors providing real-time data to disadvantaged communities across the San Joaquin Valley.</p>
        </div>
    </div>
</section>

{% load_datafile 'partners.yaml' as partner_list %}
<section class="section is-medium has-background-white partners">
    <div class="container">
        <div class="columns is-centered is-vcentered is-mobile is-multiline mb-6">
            <div class="column is-12-mobile is-12-tablet is-6-desktop">
                <h1 class="title"><span class="has-text-blue">SJVAir</span> Collaborative</h1>
                <p class="lead">SJVAir is operated by the Central California Asthma Collaborative, together with school districts, universities, government agencies, and environmental justice organizations across the region.</p>
            </div>
            <div class="column is-6-mobile is-8-tablet is-6-desktop">
                {% with partner_list.0 as partner %}
                <div class="columns is-mobile is-centered">
                    <div class="column is-7-tablet has-text-centered">
                        <a href="{{ partner.url }}" target="_blank">
                            <img src="{% static partner.logo %}" alt="{{ partner.name }}" class="is-responsive" />
                        </a>
                    </div>
                </div>
                {% endwith %}
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-10-tablet is-10-desktop">
                <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered is-variable is-8">
                    {% for partner in partner_list|slice:'1:' %}
                    <div class="column is-4-mobile is-4-tablet is-3-desktop has-text-centered">
                        <a href="{{ partner.url }}" target="_blank" class="org-logo">
                            <img src="{% static partner.logo %}" alt="{{ partner.name }}" class="is-responsive" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium has-background-white-ter data-providers">
    <div class="container">
        <div class="columns is-centered is-vcentered">
            <div class="column is-10-tablet is-7-desktop">
                <h1 class="title"><span class="has-text-turquoise">Data</span> Providers</h1>
                <p class="lead">SJVAir integrates with multiple air quality networks, as well as other environmental and health databases, to bring data from various organizations into one place. We thank our partners for making this data available. <a href="/about/integrations/">See <em>Data Integrations</em> for more details.</a></p>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-10-tablet is-8-desktop">
                <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered is-variable is-8">
                {% load_datafile 'data-providers.yaml' as provider_list %}
                {% for provider in provider_list %}
                    <div class="column {{ provider.classes }}">
                        <a href="{{ provider.url }}" target="_blank" >
                            <img src="{% static provider.logo %}" alt="{{ provider.name }}" class="is-responsive" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="section is-medium has-background-white school-districts">
    <div class="container">
        <div class="columns is-centered is-vcentered is-multiline is-variable is-8">
            <div class="column is-10-tablet is-6-desktop">
                <h1 class="title"><span class="has-text-red">School</span> Districts</h1>
                <p class="lead">We've partnered with school districts across the San Joaquin Valley to set up air quality networks in communities that previously had limited or no access to local real-time air quality information.</p>
            </div>
            <div class="column is-12-tablet is-6-desktop">
                <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered is-variable is-8">
                    {% load_datafile 'school-districts.yaml' as district_list %}
                    {% for district in district_list %}
                    <div class="column is-5-mobile is-4-tablet is-4-desktop">
                        <a href="{{ district.url }}" target="_blank" class="school-{{ district.slug }} org-logo">
                            <img src="{% static district.logo %}" alt="{{ district.name }}" class="is-responsive" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium has-background-white-ter funding-sources">
    <div class="container">
        <div class="columns is-centered is-vcentered is-multiline is-variable is-8">
            <div class="column is-10-tablet is-6-desktop">
                <h1 class="title"><span class="has-text-cyan">Funding</span> Sources</h1>
                <p class="lead">SJVAir is supported  by grants from the California Air Resources Board (CARB), US Environmental Protection Agency (EPA), and CalEPA.</p>
            </div>
            <div class="column is-12-tablet is-6-desktop">
                {% load_datafile 'funding-sources.yaml' as funder_list %}
                <div class="columns is-mobile is-centered">
                    {% with funder_list.0 as funder %}
                    <div class="column is-7-mobile is-6-tablet is-8-desktop">
                        <a href="{{ funder.url }}" target="_blank">
                            <img src="{% static funder.logo %}" alt="{{ funder.name }}" class="is-responsive" />
                        </a>
                    </div>
                    {% endwith %}
                </div>

                <div class="columns is-mobile is-centered">
                    {% for funder in funder_list|slice:'1:' %}
                    <div class="column is-4-mobile is-5-tablet is-4-desktop">
                        <a href="{{ funder.url }}" target="_blank" class="org-logo">
                            <img src="{% static funder.logo %}" alt="{{ funder.name }}" class="is-responsive" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium has-background-white technology-stack">
    <div class="container">
        <div class="columns is-centered is-vcentered is-multiline is-variable is-8">
            <div class="column is-10-tablet is-6-desktop">
                <h1 class="title"><span class="has-text-green">Technology</span> Stack</h1>
                <p class="lead">SJVAir wouldn't be possible without the thousands of people who have generously given their time to build and maintain these and other Open Source projects.</p>
            </div>
            <div class="column is-12-tablet is-6-desktop">
                <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered">
                    {% load_datafile 'technologies.yaml' as technology_list %}
                    {% for project in technology_list %}
                    <div class="column is-4-mobile is-3-tablet is-3-desktop">
                        <a href="{{ project.url }}" target="_blank">
                            <img src="{% static project.logo %}" alt="{{ project.name }}" class="is-responsive" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium has-background-white-ter open-source">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-10-desktop">
                <div class="columns is-centered is-vcentered is-multiline">
                    <div class="column is-4-tablet is-3-desktop has-text-centered">
                        <img src="{% static 'img/sjvair-logo.svg' %}" class="sjvair-logo" alt="" />
                        <span class="fal fa-4x fa-heart has-text-danger"></span>
                        <span class="fab fa-4x fa-osi has-text-success"></span>
                    </div>
                    <div class="column is-10-tablet is-9-desktop">
                        <div class="content">
                            <h1><span class="has-text-purple">Open is better</span> than closed.</h1>
                            <p>We subscribe to the ideals of open source software, hardware, and data, and believe these should be freely available to the public for the benefit of everyone. The code that powers the SJVAir website is open source and published on GitHub, where it can be freely used, adapted, and improved by the community. While not every part of the project is open source yet, our commitment is to make as much as possible transparent and accessible.</p>
                            <div class="buttons">
                                <a href="https://github.com/sjvair" target="_blank" class="button is-github">
                                    <span class="icon">
                                        <span class="fab fa-lg fa-github"></span>
                                    </span>
                                    <span>github.com/sjvair</span>
                                </a>
                                {% comment %}
                                <a href="https://www.sjvair.com/api/" class="button is-link">
                                    <span class="icon">
                                        <span class="far fa-cog"></span>
                                    </span>
                                    <span>sjvair.com/api</span>
                                </a>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
