{% extends 'page.html' %}
{% load static %}
{% load sjvair %}

{% block title %}Data Integrations | {{ block.super }}{% endblock %}

{% block body-class %}about data{% endblock %}

{% block main %}
<section class="section is-medium hook">
<div class="container">
    <div class="content">
        <h1 class="title">Data Integrations</h1>
        <p class="lead">SJVAir brings together data from community sensor networks, regulatory agencies, and national research programs to provide a more complete picture of air quality in the San Joaquin Valley. By integrating multiple sources, we combine the broad reach of low-cost monitors with the reliability of reference-grade systems and emerging datasets from satellites and models.</p>
    </div>
</div>
</section>


{% load_datafile 'data-integrations.yaml' as integration_list %}
{% for section in integration_list %}
<section class="section {% cycle 'has-background-white-bis' 'has-background-white-ter' %}">
    <div class="container">
        <div class="columns">
            <div class="column is-10-desktop">
                <h2 class="{{ section.category|slugify }}">
                    <span class="fa-duotone fa-light fa-fw fa-lg {{ section.icon.name }}"></span>
                    <span>{{ section.category }}</span>
                </h2>
                <p class="description">{{ section.description }}</p>
            </div>
        </div>
        <div class="columns is-multiline is-centered">
            {% for integration in section.integrations %}
            <div class="column is-12-tablet is-6-desktop">
                <div class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-96x96">
                                <a href="{{ integration.url }}" target="_blank">
                                    <img src="{% static integration.logo %}" alt="{{ integration.name }} logo" />
                                </a>
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h3 class="title is-size-5 mb-1">
                                    <a href="{{ integration.url }}" target="_blank">{{ integration.name }}</a>
                                </h3>
                                <p>{{ integration.description|safe }}</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
</section>
{% endfor %}

{% endblock %}
