{% extends 'page.html' %}
{% load static %}
{% load sjvair %}

{% block title %}Technology Stack | {{ block.super }}{% endblock %}

{% block body-class %}about technology{% endblock %}

{% block main %}
<section class="section is-medium hook">
    <div class="container">
        <div class="content">
            <h1 class="title">Technology Stack</h1>
            <p class="lead">SJVAir wouldn't be possible without the thousands of people who have generously given their time to build and maintain these and other Open Source and Maker community projects.</p>
        </div>
    </div>
</section>

<section class="section colophon has-background-white-ter">
    <div class="container">
        <div class="columns is-mobile is-multiline is-vcentered is-centered has-text-centered">
            {% load_datafile 'colophon.yaml' as colophon %}
            {% for project in colophon %}
            <div class="column is-half-mobile is-one-quarter">
                <a href="{{ project.url }}" target="_blank">
                    <img src="{% static project.logo %}" alt="{{ project.name }}" class="is-responsive" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section is-medium">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-10-tablet is-10-desktop">
                <div class="columns is-vcentered">
                    <div class="column is-4-tablet is-3-desktop has-text-centered">
                        <div class="content">
                            <div class="is-size-1">
                                <span class="fal fa-lungs has-text-info"></span>
                                <span class="fal fa-heart has-text-danger"></span>
                                <span class="fab fa-osi has-text-success"></span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-8-tablet is-9-desktop">
                        <div class="content">
                            <h1>Open is better than closed.</h1>
                            <p>We subscribe to the ideals of Open Source software, hardware, and data,
                                and believe that these things should be freely available to the public
                                for the benefit of everyone. We're making a commitment that the
                                technology that powers SJVAir will be published on Github and our API
                                will be documented and freely available for anyone to use. More
                                information will be available soon.</p>
                            <p>
                                <a href="https://github.com/sjvair" target="_blank" class="button is-light">
                                    <span class="icon">
                                        <span class="fab fa-github"></span>
                                    </span>
                                    <span>github.com/sjvair</span>
                                </a>
                                <a href="https://www.sjvair.com/api/" class="button is-light">
                                    <span class="icon">
                                        <span class="far fa-cog"></span>
                                    </span>
                                    <span>sjvair.com/api</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
